.container{
  background-color: #f8f8ff;
 max-width: 28%;
  padding: 40px;

  margin: 0 auto;
 text-align: center;
}
.heading{
color: #6f2da8;
font-size: 23px;
}
.input-container{
  margin: 20px;
}
.input-box{
 
  /* box-sizing: border-box; */
  padding: 20px;
  width: 300px;
  border: solid rgb(103, 93, 93);
  border-radius: 5px;
  font-size: medium;
  background-color: white;
}
.f-password {
  /* text-align:right; */
  padding-left: 200px;
  font-size: small;
}

.btn{
  padding: 10px;
  background-color: #603fef;
  width: 250px;
  border-radius: 5px;
  font-weight: bold;
color: white;
font-size: small;
border: 0px #603fef;
margin: 20px;
}

.last-text{
  font-size: small;
  font-weight: bold;
}
.sign{
color: #6f2da8;
font-weight: bold;
border: 0px;
}